@use 'reset';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans&display=swap');

/* Variables */

$gray: #2b2a2a;
$white: #fff;
$cursive: 'Dancing Script', cursive;
$sans: 'Open Sans', sans-serif;

/* Extends */

%section-padding {
  padding: 120px 100px;
  display: flex;
}

%text-style {
  font-family: $sans;
  font-size: 1.5rem;
  line-height: 1.5;
}

%main-title-style {
  font-family: $cursive;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}

%section-title-style {
  @extend %main-title-style;
  margin-bottom: 35px;
  font-size: 3rem;
}

%img-div {
  height: 100%;
}

%white-img-bg {
  background: url(../../img/gray-bg.jpg) center / cover no-repeat;
}

%dark-opacity {
  content: "";
  width: 100%;
  height: 90vh;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 70px;
}

/* Header */

.nav-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding: 0px 30px;
  background: $gray;
  color: $white;
}

.navbar-brand {
  font-family: $cursive;
  font-size: 3rem;
}

.navbar-link {
  font-size: 1rem;
  transition: font-size ease-in-out 0.3s;

}

.navbar-link:hover {
  text-decoration: none;
  font-size: 2rem;
}

.active-link {
  padding-bottom: 5px;
  border-bottom: 1px $white solid;
}

/* Main */

.landing-section {
  margin-top: 70px;
  width: 100%;
  height: 90vh;
}

.opacity {
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
}

.section-text {
  width: 50%;
  padding: 15px;
}

/* Cover */

.main-title {
  @extend %main-title-style;
  color: $white;
}

.text {
  @extend %text-style;
  color: $white;
}

.cover {
  @extend %section-padding;
  background: url(../../img/cover-lg.png) center / cover no-repeat;
  &::before {
    @extend %dark-opacity;
  }
}

/* Our story */

.story {
  background: url(../../img/gray-bg.jpg) center / cover no-repeat;
  @extend %section-padding;
}

.story-title {
  @extend %section-title-style;
}

.story-text {
  color: $gray;
  @extend %text-style;
}

.story-img {
  @extend %img-div;
  background: url(../../img/story-img.png) center / cover no-repeat;
}

/* Our Specialty */

.specialty {
  background: url(../../img/section2.png) center / cover no-repeat;
  @extend %section-padding;
  &::before {
    @extend %dark-opacity;
  }
}

.specialty-title  {
  @extend %section-title-style;
  color: $white;
}

/* Menu */

.menu {
  @extend %section-padding;
  @extend %white-img-bg;
  color: $gray;
}

.menu-title {
  @extend %section-title-style;
  padding-bottom: 40px;
  color: $gray;
}

/* Contact */

.contact {
  @extend %white-img-bg;
  @extend %section-padding;
  color: $gray;
}

.contact-title {
  @extend %section-title-style;
  padding-bottom: 40px;
}

.contact-img {
  @extend %img-div;
  background: url(../../img/contact.png) center / cover no-repeat;
}

.contact-text {
  @extend %text-style;
}

/* Footer */

.footer {
  z-index: 1;
  height: 70px;
  padding: 30px;
  bottom: 0;
  background: $gray;
}