/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Structure */


/* Header */

.nav-bar {
  display: flex;
  width: 100%;
  padding: 5px 30px;
  background: #2b2a2a;
  color: white;
  height: 70px;
}

.navbar-menu {
  width: 70%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-name {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
}

/* Main */

.landing-section {
  width: 100%;
  height: 100vh;
}

.opacity {
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
}

.section-text {
  width: 50%;
  padding: 15px;
}

.section-image {
  
}

/* Cover */

.main-title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding-left: 60%;
  padding-top: 15%;
}

.text {
  padding-left: 60%;
}

.cover {
  background: url(../img/cover.png) center / cover no-repeat;
}

/* Our story */

  

/* What we do */

#what-we-do {
  background: url(../img/section2.png) center / cover no-repeat;
}

/* Menu */

/* Footer */

.footer {
  height: 70px;
  padding: 30px;
  bottom: 0;
  background: #2b2a2a;
}